body{
    background-color: aliceblue;
}

.plusButton{
    background-color: lightgreen;
}

.minusButton{
    background-color: lightcoral;
}

.button{
    border-style: none;
    height: 5em;
    width: 5em;
    margin-top: 3em;
}

.counter{
    font-size: 3em;
}

.counterContainer{
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px lightblue;
    background-color: whitesmoke;
    height: 10em;
    width: 15em;
}