.header{
    text-align: center;
}

.plusButton{
    background-color: lightgreen;
}

.minusButton{
    background-color: lightcoral;
}

.button{
    border-style: none;
}

.counterContainer{
    display: flex;
    justify-content: center;
}